{% extends 'app_home/base.html' %}

{% load static %}

{% block title %}
    Home
{% endblock %}

{% block content %}

    <link rel = "stylesheet" href = "{% static 'style/index.css'%}">

    <div class="dashboard-header">

        <!-- Bloco de Títulos -->
        <div class="dashboard-title"> 
            <div class="dashboard-title-icon"> 
                <i class="bi bi-piggy-bank"></i> 
            </div> 
            <div class="dashboard-title-text"> 
                <h2>Resumo da Movimentação Financeira</h2> 
                <p>Visão consolidada das suas finanças</p> 
            </div> 
        </div>


        <!-- Bloco de Filtros -->
        <form method = "GET" action = "{% url 'index' %}" class = "dashboard-filters">
            <div class = "filter-group">
                <select name = "mes"  class = "filter-select"  id = "filtro-mes">
                    <option value="1" {% if mes_atual|slugify == "1" %}selected{% endif %}>Janeiro</option>
                    <option value="2" {% if mes_atual|slugify == "2" %}selected{% endif %}>Fevereiro</option>
                    <option value="3" {% if mes_atual|slugify == "3" %}selected{% endif %}>Março</option>
                    <option value="4" {% if mes_atual|slugify == "4" %}selected{% endif %}>Abril</option>
                    <option value="5" {% if mes_atual|slugify == "5" %}selected{% endif %}>Maio</option>
                    <option value="6" {% if mes_atual|slugify == "6" %}selected{% endif %}>Junho</option>
                    <option value="7" {% if mes_atual|slugify == "7" %}selected{% endif %}>Julho</option>
                    <option value="8" {% if mes_atual|slugify == "8" %}selected{% endif %}>Agosto</option>
                    <option value="9" {% if mes_atual|slugify == "9" %}selected{% endif %}>Setembro</option>
                    <option value="10" {% if mes_atual|slugify == "10" %}selected{% endif %}>Outubro</option>
                    <option value="11" {% if mes_atual|slugify == "11" %}selected{% endif %}>Novembro</option>
                    <option value="12" {% if mes_atual|slugify == "12" %}selected{% endif %}>Dezembro</option>
                </select>
            </div>

            <div class = "filter-group">
                
                <select  name = "ano"  class = "filter-select"  id = "filtro-ano">
                    {% for ano in lista_anos %}
                        <option value="{{ ano|stringformat:'d' }}" {% if ano_atual|stringformat:'d' == ano|stringformat:'d' %}selected{% endif %}>
                            {{ ano|stringformat:'d' }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class = "filter-actions">
                <button type = "submit"  class = "btn-filter-submit">Filtrar</button>
                <a href = "{% url 'index' %}"  class = "btn-filter-reset">Mês Atual</a>
            </div>
        </form>

    </div>


    <div class = "container">

       <div class="row">
            <div class = "col-12 col-md-6">
                <div class = "card card-despesas">
                    <div class = "card-header">
                        <h5 class = "card-header-title">
                            <span class = "icon-box icon-despesas">
                                <i class = "bi bi-cash"></i>
                            </span>
                            Despesas
                        </h5>
                    </div>

                    <div class = "card-body">
                        <div class = "card-content">
                            <div class = "card-top">
                                <h6 class = "card-label text-muted mb-0">Despesas do Mês de {{ mes }}</h6>
                            </div>
                            <h2 class = "card-value">R$ {{ total_despesas_filtradas|floatformat:2 }}</h2>
                        </div>

                        <div class="card-action">
                            <a href="{% url 'despesa_resumo' %}" class = "card-link link-cartao">
                                Ver detalhes
                                <i class="bi bi-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-------------- Receitas ----------------->
            <div class = "col-12 col-md-6">
                <div class = "card card-receitas">
                    <div class = "card-header">
                        <h5 class="card-header-title">
                            <span class="icon-box icon-receitas">
                                <i class="bi bi-coin"></i>
                            </span>
                            Receitas
                        </h5>
                    </div>

                    <div class="card-body">
                        <div class="card-content">
                            <div class="card-top">
                                <h6 class="card-label">Receitas do Mês de {{ mes }}</h6>
                            </div>
                            <h2 class="card-value">R$ {{ total_receitas_filtradas|floatformat:2 }}</h2>
                        </div>

                        <div class="card-action">
                            <a href="{% url 'receita' %}" class="card-link link-cartao">
                                Ver detalhes
                                <i class="bi bi-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!--------------- Cartão de Crédito ------------------>
        <div class = "row mt-4">
            <div class="col-6  col-md-6">
                <div class = "card card-cartao">
                    <div class = "card-header">
                       <h5 class = "card-header-title">
                            <span class = "icon-box icon-cartao">
                                <i class="bi bi-credit-card"></i>
                            </span>
                            Cartão de Crédito
                        </h5>
                    </div>

                    <div class = "card-body">
                        <div class="card-content">
                            <div class = "card-top">
                                <h6 class = "card-label">Despesas com Cartão de Crédito no mês de  {{ mes }}</h6>
                            </div>
                            <h2 class = "card-value">R$ {{ total_cartao_mes|floatformat:2 }}</h2>
                            <div class = "card-action">
                                <span>
                                    <a class="card-link link-investimentos" href = "{% url 'cartao' %}">
                                        Ver detalhes
                                        <i class = "bi bi-chevron-right"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!----- Investimentos ----->
            <div class = "col-6 col-md-6">
                <div class = "card card-investimentos">
                    <div class = "card-header">
                        <h5 class="card-header-title">
                            <span class="icon-box icon-investimentos">
                                <i class="bi bi-graph-up-arrow"></i>
                            </span>
                            Investimentos
                        </h5>
                    </div>

                    <div class = "card-body">
                        <div class = "card-top">
                            <h6 class = "card-label">Investimentos efetuados no mês de {{ mes }}</h6>
                        </div>
                        <h2 class = "card-value">R$ {{ total_investimentos|floatformat:2 }}</h2>
                        <div class = "card-action">
                            <span>
                                <a class = "card-link link-investimentos" href = "{% url 'investimento' %}">
                                    Ver detalhes
                                    <i class = "bi bi-chevron-right"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
